@import './base.css';

#app {
  width: 100%;
  height: 922px;
  margin: 0;
  padding: 0;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* font-weight: normal; */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 824px) {
  body {
    /* display: flex;  */
    /* place-items: center; */
  }

  #app {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
  }
}


.media{
  display: flex;
  margin-left: 5px;
}
.text-truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.py-4 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.me-auto {
    margin-right: auto !important;
}
.me-3 {
  margin-right: 1rem !important;
}
h6 {
  font-weight: normal;
  font-size: 1rem;
}
.mb-1 {
    margin-bottom: .25rem !important;
}
.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}
.text-muted {
    color: var(--text-muted) !important;
}
.text-nowrap {
    white-space: nowrap !important;
}
.text-muted {
    color: #6c757d !important;
}
.ms-4 {
    margin-left: 1.5rem !important;
}